Repository print3git/MVP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @devops-team

.github/CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team


# GitHub workflows
.github/workflows/ @devops-team

feat: add generation analytics dashboard
  admin/analytics.html
  backend/db.js
  backend/migrations/060_create_generation_logs.sql
  backend/server.js
  backend/tests/adminAnalytics.test.js
  backend/tests/api.test.js
  js/adminAnalytics.js
Owners: @print3git, @backend-team

test: stub s3 credentials in textToImage
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: stabilize smoke viewer waits
  e2e/smoke.test.js
Owners: @print3git

fix: load generated model via POST
  backend/tests/frontend/generateModel.static.test.js
  js/useGenerateModel.js
Owners: @backend-team, @print3git

fix: use local server for smoke tests
  e2e/smoke.test.js
  generate.html
  package-lock.json
  package.json
  tests/package.spec.js
Owners: @print3git, @web-team

feat: show generation feedback
  backend/server.js
  e2e/generate.test.js
  js/modelGenerator.js
Owners: @backend-team, @print3git

test: ensure lockfiles are committed
  backend/tests/lockfileSync.test.js
Owners: @backend-team

test: enhance checkout tests
  backend/tests/checkout.test.ts
Owners: @backend-team

test: ensure lock files in sync
  backend/tests/lockfileSync.test.js
Owners: @backend-team

test: ensure mise warnings silenced
  backend/tests/miseConfig.test.js
  scripts/setup.sh
Owners: @backend-team, @print3git

test: add setup validation
  backend/tests/setupValidation.test.js
  package.json
  scripts/assert-setup.js
Owners: @backend-team, @print3git

test: ensure backend path exists
  AGENTS.md
  package.json
  scripts/check-repo-root.js
  tests/projectStructure.test.js
Owners: @print3git

test: ignore proxy vars in sparc3d tests
  backend/src/lib/sparc3dClient.js
  backend/tests/setupGlobals.js
  backend/tests/sparc3dClient.test.js
  backend/tests/sparc3dClient.test.ts
Owners: @backend-team

test: block external network in tests
  backend/tests/globalTeardown.js
  backend/tests/networkBlock.test.js
  backend/tests/setup.js
Owners: @backend-team

chore: avoid smoke prompt
  backend/tests/concurrentlyInstalled.test.js
  package.json
Owners: @backend-team, @print3git

fix: serve static content from repo root
  backend/tests/dev-server.test.js
  package.json
  scripts/dev-server.js
  scripts/setup.sh
Owners: @backend-team, @print3git

fix: use http-server for smoke tests
  e2e/smoke.test.js
  package.json
Owners: @print3git

fix: serve project root during smoke tests
  package.json
Owners: @print3git

fix: ensure jest available and add dependency test
  package.json
  scripts/assert-setup.js
  scripts/diagnose.sh
  tests/dependency.test.js
Owners: @print3git

test: ensure dev server serves index
  backend/tests/devServer.test.js
  package.json
Owners: @backend-team, @print3git

fix: avoid redundant setup in smoke script
  package.json
Owners: @print3git

test: stabilize generator tests
  e2e/generate.test.js
  e2e/smoke.test.js
  package.json
Owners: @print3git

test: harden generate flow
  e2e/smoke.test.js
  e2e/status.test.js
Owners: @print3git

test: stabilize generator tests
  e2e/generate.test.js
  e2e/smoke.test.js
  package.json
Owners: @print3git

test: verify mise config
  .mise.toml
  backend/tests/miseConfig.test.js
Owners: @print3git, @backend-team

test: update mise config verification
  .mise.toml
  backend/tests/miseConfig.test.js
Owners: @print3git, @backend-team

docs: clarify npm ci mismatch recovery
  AGENTS.md
  backend/tests/lockfileSemver.test.js
Owners: @print3git, @backend-team

test: ensure checkout env configuration
  backend/src/routes/checkout.js
  backend/src/routes/checkout.ts
  backend/tests/checkout.env.test.js
Owners: @backend-team

fix: persist stripe key and add env test
  AGENTS.md
  backend/tests/env.test.js
  scripts/setup.sh
  scripts/validate-env.sh
Owners: @print3git, @backend-team

test: check env validation
  backend/tests/envValidation.test.js
  scripts/assert-setup.js
  scripts/validate-env.sh
Owners: @backend-team, @print3git

test: skip playwright deps if browsers exist
  .github/workflows/pipeline-smoke.yml
  backend/tests/assertSetup.test.js
  scripts/assert-setup.js
Owners: @devops-team, @backend-team, @print3git

feat: improve env validation
  backend/tests/validateEnv.test.js
  scripts/validate-env.sh
Owners: @backend-team, @print3git

test: clear proxy env before loading textToImage
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

fix: ensure Playwright deps are installed
  scripts/assert-setup.js
  scripts/check-host-deps.js
Owners: @print3git

chore: silence mise warnings
  AGENTS.md
  backend/tests/linting.test.js
Owners: @print3git, @backend-team

chore: trust mise config and add test
  README.md
  backend/tests/miseToml.test.js
  scripts/setup.sh
Owners: @print3git, @backend-team

test: ensure lint-staged uses backend jest
  backend/tests/runJestScript.test.js
  package.json
  scripts/run-jest.js
Owners: @backend-team, @print3git

chore: trust mise config
  mise.toml
  scripts/setup.sh
Owners: @print3git

test: verify esm.sh connectivity
  backend/tests/connectivity.test.js
  scripts/setup.sh
Owners: @backend-team, @print3git

chore: trust mise config
  mise.toml
  scripts/setup.sh
Owners: @print3git
