Repository print3git/MVP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @devops-team

fix: skip smoke tests if model-viewer CDN is unreachable
  e2e/smoke.test.js
Owners: @print3git

feat: add root jest script
  README.md
  backend/tests/rootJestScript.test.js
  package.json
Owners: @print3git, @backend-team

fix: ignore proxies in sparc3d client
  backend/src/lib/sparc3dClient.ts
  backend/tests/envValidation.test.js
  backend/tests/textToImage.test.js
Owners: @backend-team

fix: validate environment in pre-commit
  .husky/pre-commit
  tests/preCommit.test.js
Owners: @print3git

test: ensure setup handles apt failures
  tests/bin-apt/apt-get
  tests/bin-apt/sudo
  tests/setupScriptAptFailure.test.js
Owners: @print3git

fix: install deps before host check
  scripts/assert-setup.js
Owners: @print3git

fix: extend smoke test timeout
  e2e/smoke.test.js
Owners: @print3git

test: skip model generator when esm.sh unreachable
  e2e/smoke.test.js
  scripts/network-check.js
  tests/network.test.js
  tests/networkConnectivity.test.js
Owners: @print3git

fix: retry setup when npm tar errors occur
  scripts/setup.sh
  tests/bin-tar/npm
  tests/setupScriptTarError.test.js
Owners: @print3git

feat: auto install root deps for tests
  package.json
  scripts/ensure-root-deps.js
  scripts/run-jest.js
Owners: @print3git

fix: remove unused eslint directives
  tests/lintNoWarnings.test.js
Owners: @print3git

test: skip model viewer tests when assets unavailable
  e2e/smoke.test.js
  tests/networkConnectivity.test.js
Owners: @print3git

refactor: centralize env checks
  scripts/check-env.sh
  scripts/setup.sh
  scripts/validate-env.sh
Owners: @print3git

feat: improve smoke diagnostics
  scripts/run-smoke.js
  tests/smokeScript.test.js
Owners: @print3git

test: check invalid GLB upload rejection
  backend/src/lib/storeGlb.js
  backend/src/lib/storeGlb.ts
  backend/tests/storeGlb.test.ts
Owners: @backend-team

feat: log structured fetch errors
  backend/src/lib/textToImage.ts
Owners: @backend-team

test: verify browser connectivity and skip offline
  e2e/smoke.test.js
  tests/browserConnectivity.test.js
Owners: @print3git

test: increase generate flow timeout
  e2e/smoke.test.js
Owners: @print3git

test: ensure viewer ready flag
  backend/tests/frontend/viewerReady.test.js
  e2e/smoke.test.js
  js/index.js
Owners: @backend-team, @print3git

fix: add error boundaries for routes
  backend/routes/models.js
  backend/src/__tests__/models.test.js
  backend/src/app.js
  backend/src/routes/checkout.js
  backend/src/routes/checkout.ts
  backend/src/routes/models.js
  backend/src/routes/stripe/create-checkout-session.ts
  backend/src/routes/stripe/webhook.ts
Owners: @backend-team

fix: ensure host deps install with SKIP_PW_DEPS
  scripts/check-host-deps.js
  tests/checkHostDeps.test.js
Owners: @print3git

test: verify express installation
  tests/dependency.test.js
Owners: @print3git

fix: ensure commitlint installed
  .husky/commit-msg
  scripts/assert-setup.js
  tests/commitMsgHook.test.js
  tests/dependency.test.js
Owners: @print3git

fix: install host deps when missing
  README.md
  scripts/check-host-deps.js
  tests/checkHostDeps.test.js
Owners: @print3git

fix: fail when host deps missing with skip flag
  AGENTS.md
  scripts/check-host-deps.js
  tests/checkHostDeps.test.js
Owners: @print3git

feat: add apt repository check
  scripts/check-apt.js
  scripts/setup.sh
  scripts/validate-env.sh
  tests/aptCheckScript.test.js
  tests/aptCheckScriptFailure.test.js
Owners: @print3git

test: enforce cloudfront env var
  scripts/check-env.sh
  tests/assertSetup.test.js
  tests/envVars.test.js
  tests/validateEnv.test.js
Owners: @print3git

fix: ensure node 20 via mise
  AGENTS.md
  README.md
  scripts/check-node-version.js
  tests/checkNodeVersionScript.test.js
Owners: @print3git

fix: tolerate apt-get failures in setup
  scripts/setup.sh
  tests/setupScriptAptFailure.test.js
Owners: @print3git

fix: improve setup cleanup reliability
  scripts/setup.sh
  tests/bin-rm/npx
  tests/bin-rm/sudo
  tests/setupScriptRmFailure.test.js
Owners: @print3git

feat: add getEnv utility
  backend/config.js
  backend/utils/getEnv.js
Owners: @backend-team

feat: add getEnv utility
  backend/config.js
  backend/routes/models.js
  backend/server.js
  backend/tests/utils/getEnv.test.js
  backend/utils/getEnv.js
Owners: @backend-team

fix: retry root dependency install on network failure
  scripts/ensure-root-deps.js
  tests/ensureRootDeps.test.js
Owners: @print3git

test: ensure backend format script works
  backend/package.json
  backend/tests/formatScript.test.js
Owners: @backend-team

fix: ensure format scripts install deps
  backend/package.json
  package.json
  scripts/assert-setup.js
  tests/formatScript.test.js
Owners: @backend-team, @print3git

fix: run setup when deps missing
  backend/scripts/ensure-deps.js
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

fix: fail when SKIP_PW_DEPS hides missing deps
  scripts/check-host-deps.js
  tests/checkHostDeps.test.js
Owners: @print3git

fix: preserve proxy variables for apt
  scripts/setup.sh
  tests/setupScriptProxy.test.js
Owners: @print3git

fix: ignore HTTPS errors in playwright
  playwright.config.js
Owners: @print3git

test: ensure model viewer fallback works
  backend/tests/frontend/modelViewerFallback.e2e.test.ts
Owners: @backend-team

.github/CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team


# GitHub workflows
.github/workflows/ @devops-team
