Repository print3git/MVP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @devops-team

fix: auto-skip Playwright deps when CDN unreachable
  scripts/validate-env.sh
  tests/validateEnv.test.js
Owners: @print3git

test: verify npm test runs
  backend/tests/sparc3dClient.test.js
  tests/backendNpmTestIntegration.test.js
Owners: @backend-team, @print3git

test: ensure format installs root deps when missing
  tests/backendFormatMissingDeps.test.js
  tests/bin-noop/npm
Owners: @print3git

fix: correct generateModel pipeline usage
  backend/server.js
  backend/tests/sparc3dClient.test.js
Owners: @backend-team

fix: handle db check in tests
  backend/server.js
  backend/tests/sparc3dClient.test.js
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

fix: skip placeholder DB check
  scripts/check-db.js
  tests/dbCheckPlaceholder.test.js
Owners: @print3git

fix: resolve unused variables in server and test
  backend/server.js
  backend/tests/sparc3dClient.test.js
Owners: @backend-team

test: verify install-playwright flags
  backend/server.js
  backend/tests/sparc3dClient.test.js
  tests/installPlaywright.test.js
Owners: @backend-team, @print3git

fix: update validate-env test
  tests/validateEnv.test.js
Owners: @print3git

fix: improve env tests and payment init
  backend/server.js
  backend/tests/sparc3dClient.test.js
  jest.config.js
  scripts/run-coverage.js
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

fix: ensure url stored and token defined
  backend/server.js
  backend/tests/sparc3dClient.test.js
Owners: @backend-team

ci: validate lcov before coveralls
  .github/workflows/coverage.yml
  tests/coverageWorkflow.test.js
Owners: @devops-team, @print3git

fix: update database check tests
  backend/server.js
  backend/tests/envValidation.test.js
  backend/tests/sparc3dClient.test.js
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

test: detect duplicate lines in package.json
  tests/packageJsonDuplicateLines.test.js
Owners: @print3git

fix: remove unused variable assignment
  backend/server.js
Owners: @backend-team

fix: extend viewer wait and remove stray assignment
  backend/server.js
  e2e/smoke.test.js
  tests/smokeViewerReady.test.js
Owners: @backend-team, @print3git

fix: return pipeline result
  backend/server.js
Owners: @backend-team

fix: skip smoke tests on http errors
  backend/server.js
  e2e/smoke.test.js
  tests/smokeCanFetchFailFast.test.js
Owners: @backend-team, @print3git

fix: handle generate URL return
  backend/server.js
  tests/pipeline.spec.ts
Owners: @backend-team, @print3git

fix: increase viewer test timeout
  backend/tests/frontend/modelViewerFallback.e2e.test.ts
  backend/tests/frontend/modelViewerHeadFail.e2e.test.ts
Owners: @backend-team

fix: return generated model url
  backend/server.js
Owners: @backend-team

fix: return generated URL correctly
  backend/server.js
  backend/tests/api.test.js
Owners: @backend-team

fix: remove unused url assignment
  backend/server.js
Owners: @backend-team

fix: handle unused url variable
  backend/server.js
Owners: @backend-team

test: stabilize env validation
  backend/server.js
  backend/tests/validateEnv.test.ts
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

fix: handle generateModel pipeline url
  backend/server.js
  backend/tests/regression/generatePipelineReturn.test.js
Owners: @backend-team

test: ensure server module exports express app
  backend/server.js
  backend/tests/serverExport.test.js
Owners: @backend-team

test: check cross-spawn dependency installed
  tests/crossSpawnInstalled.test.js
Owners: @print3git

fix: remove invalid url assignment
  backend/server.js
Owners: @backend-team

fix: return generated url and add stripe config test
  backend/server.js
  backend/tests/additionalApi.test.js
Owners: @backend-team

chore(deps): add Renovate configuration
  backend/server.js
  renovate.json
Owners: @backend-team, @print3git

feat(health): add /healthz endpoint
  backend/routes/healthz.js
  backend/server.js
  backend/tests/healthz.test.js
Owners: @backend-team

chore(coverage): enforce minimum coverage thresholds
  .github/workflows/coverage.yml
  .nycrc
  backend/server.js
  scripts/check-coverage.js
Owners: @devops-team, @print3git, @backend-team

chore(ts): enable strict mode in tsconfig
  backend/server.js
  tsconfig.json
Owners: @backend-team, @print3git

chore(ci): add manual workflow dispatch
  .github/workflows/ci.yml
  backend/server.js
Owners: @devops-team, @backend-team

chore(logging): set up Winston logger
  backend/dalle_server/server.js
  backend/package-lock.json
  backend/package.json
  backend/queue/printWorker.js
  backend/queue/printerTelemetry.js
  backend/scalingEngine.js
  backend/server.js
  backend/shipping.js
  backend/social.js
  backend/src/app.js
  backend/src/lib/textToImage.ts
  backend/src/pipeline/generateModel.js
  package-lock.json
  package.json
  src/logger.js
Owners: @backend-team, @print3git

.github/CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team


# GitHub workflows
.github/workflows/ @devops-team
