Repository print3git/MVP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @devops-team

.github/CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team


# GitHub workflows
.github/workflows/ @devops-team

fix: pipe lcov file to coveralls
  .github/workflows/coverage.yml
  README.md
  backend/tests/setupGlobals.js
  tests/coverageWorkflow.test.js
Owners: @devops-team, @print3git, @backend-team

fix: address lint issues in ci scripts
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
Owners: @print3git

fix: update coverage workflow
  .github/workflows/coverage.yml
  README.md
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
Owners: @devops-team, @print3git

fix: skip DB check during smoke
  backend/tests/validateEnv.test.ts
  scripts/run-npm-ci.js
  scripts/run-smoke.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
  tests/runSmoke.skipDBCheck.test.js
Owners: @backend-team, @print3git

fix: handle missing pg module
  scripts/check-db.js
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/dbCheckScriptResolve.test.js
  tests/ensureDeps.test.js
Owners: @print3git

fix: handle CDN HTTP errors
  AGENTS.md
  scripts/network-check.js
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
  tests/networkCheckCdnHttpError.test.js
Owners: @print3git

fix: improve network diagnostics
  scripts/network-check.js
  scripts/run-npm-ci.js
  scripts/validate-env.sh
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
  tests/networkCheckCdnHint.test.js
Owners: @print3git

fix: tolerate http errors in network check
  scripts/check-node-version.js
  scripts/network-check.js
  scripts/run-npm-ci.js
  tests/checkNodeVersionScript.test.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
  tests/networkCheckHttpError.test.js
Owners: @print3git

fix: skip network checks in root deps
  backend/package.json
  scripts/ensure-root-deps.js
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
  tests/ensureRootDepsSkipNetCheck.test.js
Owners: @backend-team, @print3git

fix: skip DB check in environment scripts
  backend/tests/assertSetup.test.js
  backend/tests/stubExecSync.js
  backend/tests/validateEnv.test.ts
  scripts/assert-setup.js
  scripts/run-npm-ci.js
  scripts/validate-env.sh
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

test: improve root deps retry coverage
  tests/ensureRootDeps.test.js
Owners: @print3git

fix: pipe lcov file to coveralls
  .github/workflows/coverage.yml
  README.md
  tests/coverageWorkflow.test.js
Owners: @devops-team, @print3git

fix: upload coverage from file
  .github/workflows/coverage.yml
  README.md
  tests/coverageReadme.test.js
  tests/coverageWorkflow.test.js
Owners: @devops-team, @print3git

fix: address lint issues and tests
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
Owners: @print3git

fix: update network check and address lint
  scripts/network-check.js
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
Owners: @print3git

fix: handle CDN 400 in network check
  scripts/network-check.js
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
  tests/networkCheckHttpError.test.js
Owners: @print3git

fix: handle offline formatting
  backend/package.json
  backend/tests/validateEnv.test.ts
  scripts/ensure-root-deps.js
  scripts/run-npm-ci.js
  tests/backendFormatNetworkFailure.test.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
  tests/ensureRootDepsSkipNetCheck.test.js
  tests/formatScript.test.js
Owners: @backend-team, @print3git

fix: relax CDN network check
  scripts/network-check.js
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
Owners: @print3git

fix: tolerate 400 CDN responses
  scripts/network-check.js
  tests/networkCheckCdn400.test.js
Owners: @print3git

fix: skip db check in env tests
  backend/tests/validateEnv.test.ts
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

fix: skip db check in env tests
  backend/tests/envValidation.test.js
  backend/tests/validateEnv.test.ts
  backend/tests/validateEnvNodeVersion.test.ts
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

test: verify coverage script calls setup verifier
  backend/package.json
  scripts/run-npm-ci.js
  tests/coverageScript.test.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

fix: suggest skipping CDN check when unreachable
  AGENTS.md
  scripts/network-check.js
  tests/networkCheckCdnHttpError.test.js
Owners: @print3git

test: skip db check in validate-env tests
  backend/tests/envValidation.test.js
  backend/tests/validateEnv.test.ts
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

fix: handle missing pg module
  scripts/check-db.js
  scripts/validate-env.sh
  tests/dbCheckModuleResolution.test.js
Owners: @print3git

fix: respect offline mode during backend tests
  backend/scripts/ensure-deps.js
  scripts/__tests__/ensure-deps-offline.test.ts
Owners: @backend-team, @print3git

fix: skip playwright install when network disabled
  backend/scripts/ensure-deps.js
  tests/ensureDeps.test.js
  tests/ensureDepsMissingDeps.test.js
  tests/ensureDepsSkipNetCheck.test.js
Owners: @backend-team, @print3git

fix: declare execMock variable in ensureDeps test
  tests/ensureDeps.test.js
Owners: @print3git

fix: ensure valid lcov output
  backend/tests/validateEnv.test.ts
  scripts/run-coverage.js
  tests/runCoverageScript.test.js
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

fix: adjust env validation tests
  backend/tests/validateEnv.test.ts
  tests/coverageWorkflow.test.js
Owners: @backend-team, @print3git

fix: ensure env defaults and adjust validation tests
  backend/src/lib/getEnv.js
  backend/tests/validateEnv.test.ts
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

test: remove hunyuan env vars
  backend/tests/sparc3dClient.test.js
  backend/tests/sparc3dClient.test.ts
Owners: @backend-team

fix: ensure coverage script fails on missing lcov
  backend/tests/validateEnv.test.ts
  scripts/run-coverage.js
  tests/dummy.test.js
  tests/fixtures/failing.js
  tests/runCoverageScript.test.js
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

refactor: rename generateModel import
  backend/server.js
Owners: @backend-team

test: verify LCOV report
  tests/coverageWorkflow.test.js
  tests/infra/lcovParse.spec.ts
Owners: @print3git

test: fix coverage workflow and sparc3d client tests
  backend/tests/sparc3dClient.test.js
  backend/tests/validateEnv.test.ts
  tests/coverageWorkflow.test.js
Owners: @backend-team, @print3git

fix: strip logs from coverage output
  backend/tests/logAfterExit.test.js
  backend/tests/sparc3dClient.test.js
  backend/tests/validateEnv.test.ts
  scripts/extract-lcov.js
  scripts/run-coverage.js
  tests/coverageWorkflow.test.js
  tests/extractLcov.test.js
  tests/runCoverageScript.test.js
Owners: @backend-team, @print3git

fix: strip logs from coverage output
  backend/tests/logAfterExit.test.js
  backend/tests/sparc3dClient.test.js
  backend/tests/validateEnv.test.ts
  scripts/extract-lcov.js
  scripts/run-coverage.js
  tests/coverageWorkflow.test.js
  tests/extractLcov.test.js
  tests/runCoverageScript.test.js
Owners: @backend-team, @print3git

fix: handle dev server port errors
  backend/server.js
  backend/tests/sparc3dClient.test.js
  scripts/dev-server.js
Owners: @backend-team, @print3git

test: lint coverage workflow
  backend/server.js
  backend/tests/sparc3dClient.test.js
  tests/coverageWorkflowLint.test.js
Owners: @backend-team, @print3git
