Repository print3git/MVP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @devops-team

fix: rerun setup when root deps missing
  scripts/assert-setup.js
  tests/assertSetup.test.js
Owners: @print3git

fix: handle optional babel plugin
  babel.config.js
  tests/babelConfig.test.js
  tests/ensureRootDeps.test.js
Owners: @print3git

fix: retry setup without skip when browser install fails
  backend/scripts/ensure-deps.js
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

test: handle EEXIST errors in setup
  scripts/setup.sh
  tests/bin-eexist/npm
  tests/setupScriptEexist.test.js
Owners: @print3git

fix: retry npm ci on corrupted tarball
  scripts/assert-setup.js
  tests/bin-tarball/npm
Owners: @print3git

fix: avoid reinstalling deps during format
  backend/tests/assertSetup.test.js
  scripts/assert-setup.js
  tests/assertSetup.test.js
Owners: @backend-team, @print3git

fix: handle missing apt-get
  scripts/check-apt.js
  tests/aptCheckScriptMissing.test.js
  tests/bin-noapt/sudo
Owners: @print3git

fix: auto-install Playwright deps when skipped
  scripts/check-host-deps.js
  tests/checkHostDeps.test.js
Owners: @print3git

fix: improve setup cleanup and add test
  scripts/setup.sh
  tests/bin-spy/npx
  tests/bin-spy/sudo
  tests/setupScriptDalleCleanup.test.js
Owners: @print3git

fix: handle ENOTEMPTY during root deps install
  scripts/ensure-root-deps.js
  tests/backendFormatEnotempty.test.js
  tests/ensureRootDeps.test.js
Owners: @print3git

fix: clean node modules before formatting
  scripts/ensure-root-deps.js
  tests/backendFormatEnotempty.test.js
  tests/ensureRootDeps.test.js
Owners: @print3git

fix: retry setup when npm warns of corruption
  scripts/setup.sh
  tests/bin-tarball-success/npm
  tests/setupScriptTarballWarnSuccess.test.js
Owners: @print3git

fix: skip CDN check when SKIP_PW_DEPS set
  scripts/network-check.js
  tests/networkCheckSkipPwDeps.test.js
Owners: @print3git

fix: retry setup without skip when browser install fails
  backend/scripts/ensure-deps.js
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

fix: ensure root deps on jest run
  scripts/run-jest.js
  tests/runJestRootDeps.test.js
Owners: @print3git

test: add check for root deps
  scripts/run-jest.js
  tests/dummy.test.js
  tests/runJestMissingDeps.test.js
Owners: @print3git

test: skip setup when deps exist
  tests/ensureDeps.test.js
Owners: @print3git

test: detect apt install failures
  scripts/check-apt.js
  tests/aptCheckScriptInstallFailure.test.js
  tests/bin-apt-install/apt-get
  tests/bin-apt-install/sudo
Owners: @print3git

fix: skip CDN check when SKIP_PW_DEPS set
  scripts/network-check.js
  tests/networkCheckSkipPwDeps.test.js
Owners: @print3git

docs: add note about rerunning setup after tar errors
  README.md
Owners: @print3git

docs: add note about rerunning setup after tar errors
  README.md
Owners: @print3git

test: fail ci when network unreachable
  tests/ciNetworkFailure.test.js
Owners: @print3git

test: verify env scripts
  backend/tests/checkEnvProxy.test.ts
  backend/tests/validateEnvNodeVersion.test.ts
  scripts/check-env.sh
  scripts/validate-env.sh
Owners: @backend-team, @print3git

fix: validate test paths in run-jest
  scripts/run-jest.js
  tests/runJestMissingFile.test.js
Owners: @print3git

fix: skip network check when flagged
  backend/scripts/ensure-deps.js
  tests/ensureDepsSkipNetCheck.test.js
Owners: @backend-team, @print3git

fix: ensure run-jest verifies setup
  scripts/run-jest.js
  tests/runJestSetup.test.js
Owners: @print3git

test: verify npm smoke script
  tests/npmRunSmoke.test.js
Owners: @print3git

fix: retry npm cache cleanup
  scripts/setup.sh
  tests/bin-cacache/rm
  tests/setupScriptCacheRetry.test.js
Owners: @print3git

fix: ensure validate-env activates node
  scripts/validate-env.sh
  tests/validateEnvNodePath.test.js
Owners: @print3git

test: enforce setup check in pretest
  package.json
  tests/pretestScript.test.js
Owners: @print3git

fix: handle ENOTEMPTY errors during format
  scripts/ensure-root-deps.js
  tests/backendFormatEnotempty.test.js
Owners: @print3git

test: detect apt install failures
  scripts/check-apt.js
  tests/aptCheckScriptInstallFailure.test.js
  tests/bin-apt-install/apt-get
  tests/bin-apt-install/sudo
Owners: @print3git

fix: update coverage workflow test
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
Owners: @print3git

fix: adjust env tests to skip db check
  backend/config.js
  backend/tests/validateEnv.test.ts
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

fix: address lint errors
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
Owners: @print3git

fix: stabilize ci tests
  backend/tests/validateEnv.test.ts
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

fix: install browsers during coverage
  .github/workflows/coverage.yml
  README.md
  backend/package.json
  scripts/run-npm-ci.js
  tests/coverageWorkflow.test.js
  tests/ensureDeps.test.js
  tests/precoverageScript.test.js
Owners: @devops-team, @print3git, @backend-team

fix: relax network check for CDN
  scripts/network-check.js
  tests/networkCheckCdn400.test.js
Owners: @print3git

fix: upload coverage via file for coveralls
  .github/workflows/coverage.yml
  README.md
  tests/coverageReadme.test.js
  tests/coverageWorkflow.test.js
Owners: @devops-team, @print3git

feat: add coverage helper
  .github/workflows/coverage.yml
  backend/package.json
  scripts/run-coverage.js
  tests/coverageScript.test.js
  tests/runCoverageScript.test.js
Owners: @devops-team, @backend-team, @print3git

.github/CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team


# GitHub workflows
.github/workflows/ @devops-team
