Repository print3git/MVP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @devops-team

.github/CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team


# GitHub workflows
.github/workflows/ @devops-team

fix: skip browser deps when apt update fails
  scripts/setup.sh
  tests/setupScriptAptFailure.test.js
Owners: @print3git

fix: ensure mise is installed
  README.md
  scripts/install-mise.sh
  scripts/setup.sh
  tests/miseInstalled.test.js
Owners: @print3git

feat: add dependency cycle check script
  package.json
  scripts/check-cycles.js
Owners: @print3git

docs: add ADR for invoice template caching
  docs/adr/0005-lru-cache-for-invoice-templates.md
Owners: @print3git

docs: add CONTRIBUTING guide
  CONTRIBUTING.md
Owners: @print3git

docs: document performance testing
  README.md
Owners: @print3git

ci: enable dependabot
  .github/dependabot.yml
Owners: @print3git

chore: add commitlint config
  .commitlintrc.js
  .husky/commit-msg
  package.json
Owners: @print3git

feat: add performance test script
  package.json
  scripts/perf-events.js
Owners: @print3git

test: ensure specs contain expects
  tests/utils/sanity.test.ts
Owners: @print3git

test: add ensure-deps meta test
  scripts/__tests__/ensure-deps.test.ts
Owners: @print3git

feat: add retry logic for hf sync
  scripts/sync-hf-space.sh
Owners: @print3git

test: pin node version
  .node-version
  .tool-versions
  backend/tests/nodeVersionFiles.test.js
Owners: @print3git, @backend-team

fix: skip smoke tests when offline
  e2e/smoke.test.js
Owners: @print3git

fix: increase Playwright timeout
  playwright.config.js
  tests/playwrightTimeout.test.js
Owners: @print3git

test: verify ubuntu archive connectivity
  scripts/network-check.js
  tests/networkConnectivity.test.js
Owners: @print3git

test: handle skip_pw_deps host dep errors
  tests/assertSetup.test.js
  tests/checkHostDeps.test.js
Owners: @print3git

test: expose network-check errors
  scripts/network-check.js
  tests/networkCheckErrorOutput.test.js
Owners: @print3git

fix: reset mocks correctly in ensure-deps test
  tests/ensureDeps.test.js
Owners: @print3git

fix: detect missing Playwright dependencies
  scripts/check-host-deps.js
  tests/checkHostDeps.test.js
Owners: @print3git

feat: add getEnv utility with tests
  backend/config.js
  backend/src/lib/getEnv.js
  backend/src/lib/getEnv.ts
  backend/tests/getEnv.test.js
  backend/tests/setupGlobals.js
Owners: @backend-team

test: enforce process.env baseline
  scripts/check-process-env.js
  tests/processEnvBaseline.json
  tests/processEnvCount.test.js
Owners: @print3git

fix: load env vars for precommit tests
  .husky/pre-commit
Owners: @print3git

test: check apt connectivity
  AGENTS.md
  README.md
  scripts/network-check.js
  tests/networkCheckApt.test.js
Owners: @print3git

ci: add coverage workflow
  .github/workflows/coverage.yml
Owners: @devops-team

fix: skip network check when formatting
  package.json
  scripts/assert-setup.js
  tests/assertSetup.test.js
Owners: @print3git

test: ensure mise config trusted
  AGENTS.md
  tests/miseTrust.test.js
Owners: @print3git

fix: install playwright in ensure-deps
  backend/scripts/ensure-deps.js
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

fix: avoid setup during backend format
  backend/package.json
  tests/formatScript.test.js
Owners: @backend-team, @print3git

fix: skip apt deps on failure
  backend/scripts/ensure-deps.js
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

fix: retry setup on ENOTEMPTY errors
  scripts/setup.sh
  tests/bin-enotempty/npm
  tests/setupScriptEnotempty.test.js
Owners: @print3git

fix: retry npm ci on zlib errors
  scripts/setup.sh
  tests/bin-zdata/npm
  tests/setupScriptZDataError.test.js
Owners: @print3git

fix: handle corrupted npm tarballs
  scripts/setup.sh
  tests/bin-tarball/npm
  tests/setupScriptTarballWarn.test.js
Owners: @print3git

test: verify runtime node version
  backend/tests/nodeVersionFiles.test.js
Owners: @backend-team

fix: install backend deps in coverage workflow
  .github/workflows/coverage.yml
  tests/coverageWorkflow.test.js
Owners: @devops-team, @print3git

fix: install coveralls and run setup in coverage workflow
  .github/workflows/coverage.yml
  package-lock.json
  package.json
  tests/coverageWorkflow.test.js
Owners: @devops-team, @print3git

fix: use run-jest in diagnose script
  scripts/diagnose.sh
  tests/diagnoseScript.test.js
Owners: @print3git

chore: revert husky changes
  scripts/run-smoke.js
  tests/runSmoke.load-env-file.test.ts
  tests/smokeScript.test.js
Owners: @print3git

test: add Playwright CDN failure case
  tests/networkCheckCdnFailure.test.js
Owners: @print3git

test: verify smoke script succeeds
  tests/runSmokeScriptRun.test.js
Owners: @print3git
