Repository print3git/MVP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @devops-team

.github/CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team


# GitHub workflows
.github/workflows/ @devops-team

Update index.html
  index.html
Owners: @web-team

Update index.html
  index.html
Owners: @web-team

ci: run smoke tests in pipeline
  .github/workflows/pipeline-smoke.yml
  backend/server.js
  package.json
  scripts/test-generate.js
Owners: @devops-team, @backend-team, @print3git

ci: run smoke tests in pipeline
  .github/workflows/pipeline-smoke.yml
  backend/server.js
  package.json
  scripts/test-generate.js
Owners: @devops-team, @backend-team, @print3git

feat: log generate route
  .github/workflows/pipeline-smoke.yml
  backend/server.js
  backend/src/pipeline/generateModel.js
  package.json
  scripts/test-generate.js
Owners: @devops-team, @backend-team, @print3git

ci: map secrets for smoke env
  .github/workflows/pipeline-smoke.yml
  backend/server.js
  backend/src/pipeline/generateModel.js
  package.json
  scripts/test-generate.js
Owners: @devops-team, @backend-team, @print3git

ci: pass env to smoke tests
  .github/workflows/pipeline-smoke.yml
  backend/server.js
  backend/src/pipeline/generateModel.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/test-generate.js
Owners: @devops-team, @backend-team, @print3git

ci: pass env to smoke tests
  .github/workflows/pipeline-smoke.yml
  backend/server.js
  backend/src/pipeline/generateModel.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/test-generate.js
Owners: @devops-team, @backend-team, @print3git

fix: prevent login back link from looping
  login.html
Owners: @web-team

fix: wire env vars and ts tests
  .github/workflows/pipeline-smoke.yml
  backend/config.js
  backend/jest.config.js
  backend/tests/config.test.js
  backend/tests/generateModel.test.ts
  scripts/diagnose.sh
  scripts/test-generate.js
Owners: @devops-team, @backend-team, @print3git

test: stabilize glb pipeline tests
  backend/tests/generateModel.test.ts
  backend/tests/sparc3dClient.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

chore: note smoke test
  .github/workflows/pipeline-smoke.yml
  backend/config.js
  backend/server.js
  scripts/test-generate.js
Owners: @devops-team, @backend-team, @print3git

feat: upload generated models to s3
  backend/src/lib/storeGlb.js
  backend/src/lib/storeGlb.ts
Owners: @backend-team

fix: enable checkout routes and cleanup tests
  backend/src/app.js
  backend/src/routes/checkout.js
  backend/tests/stripeRoutes.test.ts
Owners: @backend-team

feat: add simple 3d generator
  e2e/smoke.test.js
  index.html
  js/modelGenerator.js
  js/useGenerateModel.js
Owners: @print3git, @web-team

fix: handle stripe webhook
  backend/src/routes/checkout.js
  backend/src/routes/checkout.ts
Owners: @backend-team

test: verify s3 upload logic
  backend/tests/storeGlb.test.ts
Owners: @backend-team

feat: add Stripe webhook test
  .github/workflows/pipeline-smoke.yml
  package.json
  scripts/test-webhook.js
Owners: @devops-team, @print3git

feat: preserve vertex colors in generated models
  backend/package-lock.json
  backend/package.json
  backend/src/lib/preserveColors.js
  backend/src/lib/preserveColors.ts
  backend/src/pipeline/generateModel.ts
  backend/tests/preserveColors.test.ts
Owners: @backend-team

feat: render generated models with three.js
  e2e/smoke.test.js
  generate.html
  js/ModelViewer.js
  js/modelGenerator.js
  js/useGenerateModel.js
  src/stories/ModelViewer.stories.js
Owners: @print3git, @web-team

feat: upload models to s3
  .prettierignore
  backend/src/lib/storeGlb.js
  backend/src/lib/storeGlb.ts
  backend/tests/storeGlb.test.ts
  e2e/smoke.test.js
Owners: @print3git, @backend-team

feat: add polling hook and tests
  backend/tests/useJobPolling.test.js
  e2e/smoke.test.js
  js/modelGenerator.js
  js/useGenerateModel.js
  js/useJobPolling.js
  js/useJobPolling.node.js
Owners: @backend-team, @print3git

ci: add ui smoke test
  .github/workflows/pipeline-smoke.yml
  e2e/smoke.test.js
  index.html
  playwright.smoke.config.ts
  tests/ui/generate.spec.ts
Owners: @devops-team, @print3git, @web-team

feat: add generation analytics dashboard
  admin/analytics.html
  backend/db.js
  backend/db/migrations/002_create_generation_logs.sql
  backend/migrations/060_create_generation_logs.sql
  backend/server.js
  backend/tests/analyticsDashboard.test.js
  backend/tests/api.test.js
  e2e/smoke.test.js
  js/adminAnalytics.js
Owners: @print3git, @backend-team

test: rename duplicate smoke test
  e2e/smoke.test.js
Owners: @print3git

ci: use node 20 for smoke tests
  .github/workflows/pipeline-smoke.yml
  .github/workflows/smoke_test.yml
Owners: @devops-team

build: add typescript preset for babel
  backend/babel.config.js
  backend/package-lock.json
  backend/package.json
Owners: @backend-team

Update package.json
  package.json
Owners: @print3git

test: mock S3 client in textToImage tests
  backend/tests/textToImage.test.ts
Owners: @backend-team

chore: update smoke script
  package.json
Owners: @print3git

fix: remove noise from smoke test
  e2e/smoke.test.js
Owners: @print3git

fix: use dummy Stripe key when unset
  README.md
  scripts/setup.sh
Owners: @print3git

fix: set default Stripe key in setup
  scripts/setup.sh
Owners: @print3git

fix: default stripe key in setup
  AGENTS.md
  scripts/setup.sh
Owners: @print3git

docs: clarify SKIP_PW_DEPS usage for smoke
  AGENTS.md
Owners: @print3git

fix: ensure setup script uses CI dummy key
  scripts/assert-setup.js
Owners: @print3git

fix: include concurrently for smoke tests
  package-lock.json
  package.json
Owners: @print3git

docs: update smoke test instructions
  AGENTS.md
Owners: @print3git

fix: add missing concurrently dependency
  package-lock.json
  package.json
Owners: @print3git

test: disable network in sparc3d client tests
  backend/tests/sparc3dClient.test.js
  backend/tests/sparc3dClient.test.ts
Owners: @backend-team
