Repository print3git/MVP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @devops-team

.github/CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team


# GitHub workflows
.github/workflows/ @devops-team

fix: persist mise trust
  backend/tests/miseTrustPersist.test.js
  scripts/setup.sh
Owners: @backend-team, @print3git

test: verify env var checks
  AGENTS.md
  README.md
  backend/tests/validateEnv.test.ts
  tests/validateEnv.test.js
Owners: @print3git, @backend-team

test: ensure env vars set
  .env.example
  AGENTS.md
  scripts/validate-env.sh
  tests/envVars.test.js
  tests/validateEnv.test.js
Owners: @print3git

test: enforce env vars
  backend/tests/envValidation.test.js
  scripts/validate-env.sh
  tests/envVars.test.js
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

test: ensure HF token required
  .env.example
  AGENTS.md
  README.md
  tests/validateEnv.test.js
Owners: @print3git

fix: default env vars for local setup
  backend/tests/envValidation.test.js
  scripts/assert-setup.js
  scripts/validate-env.sh
Owners: @backend-team, @print3git

test: ensure mise config trusted
  scripts/assert-setup.js
  tests/validateEnv.test.js
Owners: @print3git

test: ensure backend tests parse
  backend/tests/textToImage.test.ts
  tests/backendSyntax.test.js
Owners: @backend-team, @print3git

fix: provide dummy env vars
  backend/tests/assertSetup.test.js
  backend/tests/envValidation.test.js
  backend/tests/validateEnv.test.ts
  scripts/assert-setup.js
  scripts/validate-env.sh
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

fix: improve smoke setup diagnostics
  .env.example
  README.md
  scripts/run-smoke.js
  tests/smokeScript.test.js
Owners: @print3git

docs: clarify env setup for agents
  .env.example
  AGENTS.md
  tests/validateEnv.test.js
Owners: @print3git

feat: enforce Node 20 in validate script
  backend/tests/nodeVersion.test.js
  backend/tests/validateEnv.test.ts
  scripts/validate-env.sh
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

fix: validate network before installing backend deps
  backend/scripts/ensure-deps.js
  scripts/assert-setup.js
  tests/ensureDeps.test.js
  tests/networkCheckScriptFailure.test.js
Owners: @backend-team, @print3git

test: ensure prettier installed
  README.md
  tests/dependency.test.js
Owners: @print3git

test: ensure run-jest handles root tests
  backend/tests/runJestScript.test.js
  scripts/run-jest.js
  tests/runJestIntegration.test.js
Owners: @backend-team, @print3git

fix: check network before playwright install
  scripts/setup.sh
  tests/setupScript.test.js
Owners: @print3git

test: improve network checks
  AGENTS.md
  README.md
  backend/tests/validateEnv.test.ts
  scripts/network-check.js
  tests/networkCheckScript.test.js
  tests/validateEnv.test.js
Owners: @print3git, @backend-team

test: expand network diagnostics
  README.md
  scripts/network-check.js
  tests/networkCheckScript.test.js
Owners: @print3git

test: add connectivity diagnostics
  scripts/network-check.js
  scripts/run-smoke.js
  tests/networkCheckScriptFail.test.js
  tests/smokeScript.test.js
  tests/validateEnv.test.js
Owners: @print3git

test: verify setup script
  tests/setupScript.test.js
Owners: @print3git

test: ensure HF_TOKEN required
  .env.example
  AGENTS.md
  tests/validateEnv.test.js
Owners: @print3git

fix: skip host dependency check with SKIP_PW_DEPS
  scripts/check-host-deps.js
  scripts/validate-env.sh
  tests/checkHostDeps.test.js
Owners: @print3git

fix: update preserveColors tests and env vars
  backend/src/lib/preserveColors.js
  backend/tests/preserveColors.test.ts
  backend/tests/validateEnv.test.ts
  tests/assertSetup.test.js
  tests/backendSyntax.test.js
Owners: @backend-team, @print3git

fix: allow missing HF_TOKEN
  backend/tests/validateEnv.test.ts
  scripts/validate-env.sh
  tests/assertSetup.test.js
  tests/backendSyntax.test.js
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

fix: load env defaults and update tests
  backend/tests/envValidation.test.js
  backend/tests/validateEnv.test.ts
  scripts/assert-setup.js
  scripts/validate-env.sh
  tests/assertSetup.test.js
  tests/backendSyntax.test.js
Owners: @backend-team, @print3git

build: add express for dev server
  package-lock.json
  package.json
  scripts/dev-server.js
  tests/dev-server.integration.test.ts
  tests/dev-server.test.ts
Owners: @print3git

feat: add fallback env for smoke
  .github/workflows/ci.yml
  scripts/run-smoke.js
  tests/runSmoke.fallback-env.test.ts
Owners: @devops-team, @print3git

fix: verify Playwright host deps in setup
  scripts/check-host-deps.js
  scripts/setup.sh
  tests/checkHostDeps.test.js
  tests/setupScript.test.js
Owners: @print3git

fix: disable jsdoc rule for tests
  eslint.config.js
  tests/eslintConfig.test.js
Owners: @print3git

fix: ignore node_modules in jest coverage
  backend/jest.config.js
Owners: @backend-team

fix: ensure ci validates env
  scripts/assert-setup.js
  tests/assertSetup.test.js
Owners: @print3git

test: improve smoke stability and add viewer loader test
  backend/tests/frontend/modelViewerLoader.test.js
  e2e/smoke.test.js
Owners: @backend-team, @print3git

fix: stub generate API in dev server
  scripts/dev-server.js
  tests/dev-server.integration.test.ts
  tests/dev-server.test.ts
Owners: @print3git

test: ensure coverage summary
  backend/jest.config.js
  tests/coverageSummary.test.js
Owners: @backend-team, @print3git

test: ensure npx jest not used
  AGENTS.md
  backend/tests/envValidation.test.js
  package.json
  tests/npxJestFailure.test.js
  tests/validateEnv.test.js
Owners: @print3git, @backend-team

test: improve network diagnostics
  scripts/network-check.js
  tests/assertSetup.test.js
  tests/backendSyntax.test.js
  tests/bin/npm
  tests/network.test.js
  tests/networkConnectivity.test.js
  tests/setupScriptFailure.test.js
Owners: @print3git

fix: default env vars for smoke
  backend/tests/runSmokeFailure.test.ts
  scripts/run-smoke.js
  tests/smokeScript.test.js
Owners: @backend-team, @print3git

fix: mock express for dev server tests
  tests/dev-server.integration.test.ts
  tests/dev-server.test.ts
Owners: @print3git

fix: ensure dev server tests run without express
  backend/scripts/ensure-deps.js
  tests/assertSetup.test.js
  tests/backendSyntax.test.js
  tests/dev-server.test.ts
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

fix: ensure model viewer load failure surfaces
  backend/tests/frontend/modelViewerLoader.test.js
  js/index.js
Owners: @backend-team, @print3git
