Repository print3git/MVP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @devops-team

.github/CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team


# GitHub workflows
.github/workflows/ @devops-team

test: fix uploadS3 mocks
  backend/scripts/ensure-deps.js
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
  tests/network.test.js
Owners: @backend-team, @print3git

test: ensure uploadFile mock works
  backend/scripts/ensure-deps.js
  backend/tests/setupValidation.test.js
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
  scripts/assert-setup.js
Owners: @backend-team, @print3git

test: fix mocks for textToImage
  backend/tests/envValidation.test.js
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
  scripts/validate-env.sh
  tests/environment.test.js
Owners: @backend-team, @print3git

test: ensure textToImage uploads use mocked path
  backend/src/lib/uploadS3.js
  backend/src/lib/uploadS3.ts
  backend/tests/textToImage.test.js
  backend/tests/textToImage.test.ts
Owners: @backend-team

fix: allow missing stripe key in setup
  .prettierignore
  scripts/setup.sh
  scripts/validate-env.sh
  tests/pnpm-lock-sync.test.js
  tests/validateEnv.test.js
Owners: @print3git

test: mock uploadFile with spy
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: mock uploadFile with spy
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: ensure aws creds in env
  backend/tests/awsCredentials.test.ts
  scripts/validate-env.sh
Owners: @backend-team, @print3git

test: ensure uploadS3 validates credentials
  backend/src/lib/uploadS3.js
  backend/src/lib/uploadS3.ts
  backend/tests/uploadS3.test.ts
Owners: @backend-team

test: verify validate-env behavior
  backend/tests/validateEnv.test.ts
  tests/proxyUnset.test.js
Owners: @backend-team, @print3git

test: fail if external resources unreachable
  scripts/diagnose.sh
  scripts/validate-env.sh
  tests/network.test.js
  tests/networkConnectivity.test.js
Owners: @print3git

test: ensure dev server test runs
  backend/tests/dev-server.test.ts
Owners: @backend-team

fix: preserve mocks across textToImage tests
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
  tests/pnpm-lock-sync.test.js
Owners: @backend-team, @print3git

test: harden textToImage proxy case
  backend/tests/setupGlobals.js
  backend/tests/textToImage.proxy.test.ts
Owners: @backend-team

test: ensure uploadS3 mocked
  .prettierignore
  backend/tests/textToImage.mock.test.ts
Owners: @print3git, @backend-team

feat: skip Playwright install in smoke script
  package.json
  scripts/run-smoke.js
  tests/smokeScript.test.js
Owners: @print3git

test: ensure textToImage mocks upload
  backend/tests/textToImage.test.ts
Owners: @backend-team

fix: regenerate lockfile and add validity test
  package-lock.json
  tests/lockfileValidity.test.js
Owners: @print3git

test: ensure validate-env sets default token
  .prettierignore
  backend/tests/envValidation.test.js
  scripts/setup.sh
  scripts/validate-env.sh
Owners: @print3git, @backend-team

fix: handle npm ci failure
  backend/scripts/ensure-deps.js
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

test: ensure setup and skip flaky checks
  AGENTS.md
  backend/scripts/ensure-deps.js
  backend/tests/textToImage.test.ts
  tests/ensureDeps.test.js
  tests/validateEnv.test.js
Owners: @print3git, @backend-team

fix: silence mise warnings
  scripts/validate-env.sh
  tests/validateEnv.test.js
Owners: @print3git

fix: allow system proxies in env validation
  backend/tests/textToImage.test.ts
  scripts/validate-env.sh
  tests/validateEnv.test.js
Owners: @backend-team, @print3git

test: verify required environment variables
  backend/tests/textToImage.test.ts
  scripts/assert-setup.js
  tests/envVars.test.js
Owners: @backend-team, @print3git

fix: resolve variable redeclaration in textToImage test
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: run npm registry connectivity check
  backend/tests/npmRegistryConnectivity.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: add network diagnostics
  package.json
  scripts/network-check.js
  scripts/validate-env.sh
  tests/networkCheckScript.test.js
Owners: @print3git

test: detect missing babel plugin
  backend/tests/validateEnv.test.ts
  scripts/assert-setup.js
  tests/dependency.test.js
Owners: @backend-team, @print3git

test: skip network checks in validateEnv
  backend/tests/validateEnv.test.ts
Owners: @backend-team

test: check missing HF_TOKEN
  .env.example
  README.md
  backend/tests/validateEnv.test.ts
  tests/validateEnv.test.js
Owners: @print3git, @backend-team

test: catch missing HF_TOKEN
  .env.example
  README.md
  tests/validateEnv.test.js
Owners: @print3git

test: cover repo root validation
  scripts/check-repo-root.js
  tests/checkRepoRoot.test.ts
Owners: @print3git

test: ensure ts support
  backend/jest.config.js
  tests/jestTransform.test.js
Owners: @backend-team, @print3git

feat: improve smoke test setup
  backend/tests/runSmokeFailure.test.ts
  scripts/run-smoke.js
  tests/smokeScript.test.js
Owners: @backend-team, @print3git

test: add diagnose script validation
  AGENTS.md
  README.md
  tests/diagnoseScript.test.js
Owners: @print3git

test: ensure setup script triggers and validate env
  backend/tests/validateEnv.test.ts
  tests/assertSetup.test.js
Owners: @backend-team, @print3git

test: check network before host deps
  scripts/check-host-deps.js
  tests/checkHostDeps.test.js
Owners: @print3git

test: ensure network check reports failure
  tests/bin/curl
  tests/networkCheckFailure.test.js
Owners: @print3git

test: add network failure diagnostics
  scripts/network-check.js
  tests/networkCheckScript.test.js
  tests/validateEnv.test.js
Owners: @print3git

test: assert playwright install prerequisites
  scripts/install-playwright.sh
  tests/installPlaywright.test.js
Owners: @print3git
