Repository print3git/MVP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @devops-team

feat: skip redundant setup in smoke script
  package.json
  scripts/assert-setup.js
  tests/assertSetup.test.js
Owners: @print3git

docs: explain disabling mise warning
  README.md
Owners: @print3git

fix: sync lockfile with package
  package-lock.json
Owners: @print3git

test: silence console logs
  backend/tests/setup.js
Owners: @backend-team

test: set dummy aws creds in tests
  backend/tests/setupGlobals.js
Owners: @backend-team

test: ensure build script exists
  package.json
  tests/buildScript.test.js
Owners: @print3git

build: add babel support for jest
  .github/workflows/preview-deploy.yml
  backend/babel.config.js
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  e2e/smoke.test.js
Owners: @devops-team, @backend-team, @print3git

test: validate aws creds for stability key
  AGENTS.md
  backend/tests/awsEnvValidation.test.js
  backend/tests/textToImage.proxy.test.ts
  scripts/validate-env.sh
Owners: @print3git, @backend-team

test: mock s3 upload in textToImage tests
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: mock S3 uploads in textToImage tests
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: ensure aws creds for textToImage
  backend/tests/awsCredentials.test.ts
  backend/tests/textToImage.proxy.test.ts
Owners: @backend-team

test: ensure checkout router shared
  backend/tests/checkout.shared.test.ts
  backend/tests/checkout.test.ts
Owners: @backend-team

test: check index file for dev server
  backend/tests/dev-server.test.js
Owners: @backend-team

test: ensure dummy aws credentials
  backend/tests/awsCredentials.test.js
Owners: @backend-team

test: verify setup completion and browsers
  tests/dependency.test.js
Owners: @print3git

test: check proxy vars
  AGENTS.md
  backend/tests/envValidation.test.js
  scripts/validate-env.sh
Owners: @print3git, @backend-team

test: ensure setup handles lockfile issues
  README.md
  backend/tests/setupValidation.test.js
  scripts/assert-setup.js
Owners: @print3git, @backend-team

test: mock s3 in textToImage tests
  backend/tests/textToImage.mocked.test.ts
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: enforce Node.js 20
  README.md
  backend/package.json
  package.json
  scripts/assert-setup.js
  tests/nodeVersion.test.js
Owners: @print3git, @backend-team

test: ensure mocks and checkout map
  backend/tests/checkoutModule.test.js
  backend/tests/generateModel.test.ts
Owners: @backend-team

test: add environment checks and lockfile guard
  package-lock.json
  package.json
  scripts/check-lockfile.js
  scripts/check-node-version.js
  tests/environment.test.js
Owners: @print3git

feat: auto fix lockfile mismatch
  package-lock.json
  scripts/setup.sh
  tests/lock-sync.test.js
Owners: @print3git

test: add lockfile sync checks
  backend/tests/checkLockfilesScript.test.js
  scripts/check-lockfiles.js
  scripts/setup.sh
Owners: @backend-team, @print3git

test: ensure dev server works
  package-lock.json
  package.json
  tests/devServer.test.js
Owners: @print3git

test: ensure pnpm lockfile is synced
  package.json
  pnpm-lock.yaml
  scripts/check-pnpm-lockfile.js
  tests/environment.test.js
Owners: @print3git

test: verify pnpm lock consistency
  .github/workflows/verify-lockfile.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/check-lockfile.js
  tests/pnpm-lock-sync.test.js
Owners: @devops-team, @print3git

fix: properly mock S3 upload in image tests
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: ensure textToImage mocks are applied
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: add network check and fix mocks
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
  scripts/setup.sh
  tests/network.test.js
Owners: @backend-team, @print3git

test: add coverage for assert-setup
  backend/tests/assertSetup.test.js
  backend/tests/stubExecSync.js
  tests/pnpm-lock-sync.test.js
Owners: @backend-team, @print3git

test: add connectivity check and fix textToImage mocks
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
  tests/networkConnectivity.test.js
Owners: @backend-team, @print3git

test: fix uploadS3 mocks
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: fix textToImage mocks
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

test: fix textToImage mocks
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
Owners: @backend-team

fix: validate npm registry connectivity
  backend/tests/envValidation.test.js
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
  package.json
  scripts/validate-env.sh
  tests/networkConnectivity.test.js
Owners: @backend-team, @print3git

test: verify ensure-deps network check
  backend/scripts/ensure-deps.js
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

test: verify backend jest presence
  backend/tests/setupValidation.test.js
  backend/tests/textToImage.proxy.test.ts
  backend/tests/textToImage.test.ts
  tests/dependency.test.js
Owners: @backend-team, @print3git

test: ensure dev server serves index
  backend/tests/devServer.test.js
  package-lock.json
  package.json
Owners: @backend-team, @print3git

test: run root tests and update lockfile
  package-lock.json
  package.json
Owners: @print3git

fix: sync root lockfile deps
  package.json
Owners: @print3git

.github/CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team


# GitHub workflows
.github/workflows/ @devops-team
