Repository print3git/MVP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @devops-team

.github/CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team


# GitHub workflows
.github/workflows/ @devops-team

test: verify setup run when browsers missing
  tests/assertSetup.test.js
Owners: @print3git

fix: enforce node 20 runtime
  backend/package.json
  package.json
  scripts/check-node-version.js
  tests/checkNodeVersionScript.test.js
  tests/nodeVersion.test.js
Owners: @backend-team, @print3git

test: ensure playwright results ignored
  .gitignore
  tests/gitignore.test.js
Owners: @print3git

feat: add test helper script
  README.md
  scripts/test-backend.sh
  tests/testBackendScript.test.js
Owners: @print3git

fix: handle npm tar errors in assert-setup
  scripts/assert-setup.js
  tests/backendFormatTarError.test.js
Owners: @print3git

fix: output valid lcov for coveralls
  .github/workflows/coverage.yml
  backend/package.json
  package.json
  tests/coverageLcovScript.test.ts
  tests/coverageWorkflow.test.ts
Owners: @devops-team, @backend-team, @print3git

fix: ensure coverage workflow installs playwright
  .github/workflows/coverage.yml
  package.json
  tests/coverageScript.test.js
Owners: @devops-team, @print3git

docs: clarify coverage usage
  README.md
  tests/coverageWorkflow.test.js
Owners: @print3git

fix: skip setup when SKIP_PW_DEPS set
  scripts/assert-setup.js
  tests/assertSetup.test.js
Owners: @print3git

fix: install playwright in coverage workflow
  .github/workflows/coverage.yml
  tests/coverageWorkflow.test.js
Owners: @devops-team, @print3git

test: ensure coverage script uses npx jest
  backend/package.json
  tests/coverageScript.test.js
Owners: @backend-team, @print3git

fix: ensure coverage script uses helper
  backend/package.json
  tests/coverageScript.test.js
Owners: @backend-team, @print3git

fix: handle missing pg dependency
  scripts/check-db.js
  scripts/validate-env.sh
  tests/dbCheckScript.test.js
  tests/dbCheckScriptFailure.test.js
Owners: @print3git

test: handle npm ci EUSAGE fallback
  tests/bin-eusage/npm
  tests/setupScriptEusageFailure.test.js
Owners: @print3git

fix: handle apt failure when installing browsers
  scripts/check-host-deps.js
  tests/checkHostDeps.test.js
Owners: @print3git

fix: include playwright as dependency
  package.json
  tests/dependency.test.js
Owners: @print3git

fix: use playwright-core in tests
  backend/tests/frontend/modelViewerFallback.e2e.test.ts
  backend/tests/noPlaywrightImport.test.js
  tests/browserConnectivity.test.js
Owners: @backend-team, @print3git

fix: unset proxy vars during root deps install
  scripts/ensure-root-deps.js
  tests/ensureRootDeps.test.js
Owners: @print3git

fix: retry npm ci on tar errors
  scripts/assert-setup.js
  scripts/run-npm-ci.js
  tests/runNpmCi.test.js
Owners: @print3git

fix: ensure root deps for backend tests
  backend/scripts/ensure-deps.js
  tests/dependency.test.js
Owners: @backend-team, @print3git

test: detect HTTP errors in network check
  scripts/assert-setup.js
  scripts/network-check.js
  tests/networkCheckHttpError.test.js
Owners: @print3git

fix: ensure root dependencies installed
  scripts/assert-setup.js
  tests/assertSetup.test.js
Owners: @print3git

fix: rebuild sharp if loading fails
  backend/scripts/ensure-deps.js
  tests/ensureDeps.test.js
Owners: @backend-team, @print3git

test: ensure smoke viewer readiness
  e2e/smoke.test.js
  tests/smokeViewerReady.test.js
Owners: @print3git

fix: fallback to local model viewer when CDN unreachable
  backend/tests/frontend/modelViewerHeadFail.e2e.test.ts
  js/index.js
Owners: @backend-team, @print3git

test: check smoke diagnostics on wait-on failure
  backend/tests/runSmokeConnectFailure.test.ts
  scripts/run-smoke.js
Owners: @backend-team, @print3git

fix: unset proxy vars during root deps install
  scripts/ensure-root-deps.js
  tests/ensureRootDeps.test.js
Owners: @print3git

test: restore deps after tar error
  tests/setupScriptTarError.test.js
Owners: @print3git

fix: retry npm ci on repeated tar errors
  scripts/setup.sh
  tests/bin-tar-twice/npm
  tests/setupScriptTarErrorRetry.test.js
Owners: @print3git

fix: retry node_modules cleanup
  scripts/setup.sh
  tests/bin-rm-twice/npx
  tests/bin-rm-twice/sudo
  tests/setupScriptRmRetry.test.js
Owners: @print3git

test: cover missing dependency paths
  tests/ensureDepsMissingDeps.test.js
Owners: @print3git

test: verify smoke env propagation
  tests/runSmokeEnvPropagation.test.js
Owners: @print3git

fix: ensure root deps include express and playwright
  scripts/ensure-root-deps.js
Owners: @print3git

feat: ensure build tools installed
  scripts/check-build-tools.js
  scripts/ensure-root-deps.js
  scripts/setup.sh
  tests/bin-dpkg/dpkg
  tests/buildToolsCheckScriptFailure.test.js
  tests/ensureRootDeps.test.js
Owners: @print3git

fix: auto-skip playwright deps on apt failure
  scripts/validate-env.sh
  tests/validateEnv.test.js
Owners: @print3git

fix: ensure setup installs browsers
  scripts/assert-setup.js
Owners: @print3git

fix: skip network check during backend format
  backend/package.json
  scripts/ensure-root-deps.js
  tests/ensureRootDeps.test.js
  tests/formatScript.test.js
Owners: @backend-team, @print3git

test: ensure root deps install when missing
  backend/tests/ensureRootDeps.test.ts
Owners: @backend-team

fix: verify host deps after playwright install
  scripts/check-host-deps.js
  tests/checkHostDeps.test.js
Owners: @print3git

fix: install root deps via script
  scripts/assert-setup.js
  tests/assertSetup.test.js
Owners: @print3git
