Repository print3git/MVP-website, changes with the owners that CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @ml-team, @devops-team

chore(ci): add preview deploy
  .github/workflows/preview-deploy.yml
  playwright.config.js
Owners: @devops-team, @print3git

chore(ci): add preview deploy
  .github/workflows/preview-deploy.yml
  playwright.config.js
Owners: @devops-team, @print3git

fix(payment): refine collapsible styles
  payment.html
Owners: @web-team

feat: add collapsible styles
  payment.html
Owners: @web-team

docs(readme): note Docker CLI availability
  Dockerfile
  README.md
Owners: @print3git

docs(readme): note Docker CLI availability
  Dockerfile
  README.md
Owners: @print3git

Apply £7 discount for bulk prints
  js/payment.js
  payment.html
Owners: @print3git, @web-team

Apply £7 discount for bulk prints
  js/payment.js
  payment.html
Owners: @print3git, @web-team

feat: add label to generate button
  index.html
Owners: @web-team

feat: add label to generate button
  index.html
Owners: @web-team

feat: add weekend delivery countdown
  js/index.js
Owners: @print3git

feat: add weekend delivery countdown
  js/index.js
Owners: @print3git

Wrap address inputs in collapsible
  payment.html
  print2pro-checkout.html
Owners: @web-team

Wrap address inputs in collapsible
  payment.html
  print2pro-checkout.html
Owners: @web-team

chore: ensure Docker CLI & daemon support in devcontainer and CI
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  docker-compose.override.yml
Owners: @print3git, @devops-team

chore: ensure Docker CLI & daemon support in devcontainer and CI
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  docker-compose.override.yml
Owners: @print3git, @devops-team

fix: handle localStorage errors for thumbnail storage
  js/index.js
Owners: @print3git

fix: handle localStorage errors for thumbnail storage
  js/index.js
Owners: @print3git

style: refine collapsible styles
  payment.html
Owners: @web-team

fix loader visibility
  js/index.js
Owners: @print3git

fix loader visibility
  js/index.js
Owners: @print3git

feat: limit prompt textarea height
  index.html
  js/index.js
Owners: @web-team, @print3git

feat: limit prompt textarea height
  index.html
  js/index.js
Owners: @web-team, @print3git

docs: add Netlify preview secrets
  README.md
Owners: @print3git

docs: add Netlify preview secrets
  README.md
Owners: @print3git

ci: add deploy workflow
  .github/workflows/deploy.yml
Owners: @devops-team

ci: add deploy workflow
  .github/workflows/deploy.yml
Owners: @devops-team

feat: limit prompt textarea height
  index.html
  js/index.js
Owners: @web-team, @print3git

feat(signup): add expand utilities
  signup.html
Owners: @web-team

feat(signup): add expand utilities
  signup.html
Owners: @web-team

Update community card buy text
  js/community.js
Owners: @print3git

Update community card buy text
  js/community.js
Owners: @print3git

chore: unify pnpm usage and self-heal coverage
  Dockerfile
  README.md
  backend/hunyuan_server/pnpm-lock.yaml
  backend/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  scripts/update-coverage-threshold.js
Owners: @print3git, @ml-team, @backend-team

chore: unify pnpm usage and self-heal coverage
  Dockerfile
  README.md
  backend/hunyuan_server/pnpm-lock.yaml
  backend/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  scripts/update-coverage-threshold.js
Owners: @print3git, @ml-team, @backend-team

Change 'Popular Now' to 'Bestselling' on community creations page
  CommunityCreations.html
Owners: @web-team

Change 'Popular Now' to 'Bestselling' on community creations page
  CommunityCreations.html
Owners: @web-team

Show days in weekend delivery countdown
  js/index.js
Owners: @print3git

Show days in weekend delivery countdown
  js/index.js
Owners: @print3git

chore: unify pnpm usage and self-heal coverage
  Dockerfile
  README.md
  backend/hunyuan_server/pnpm-lock.yaml
  backend/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  scripts/update-coverage-threshold.js
Owners: @print3git, @ml-team, @backend-team

chore(eslint): install @eslint/js and guard proxy env warnings
  .github/workflows/ci.yml
  Dockerfile
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
Owners: @devops-team, @print3git, @backend-team

CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team

# Hunyuan3D API server
/backend/hunyuan_server/ @ml-team

# GitHub workflows
.github/workflows/ @devops-team
