Repository print3git/MVP-website, changes with the owners that CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @ml-team, @devops-team

CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team

# Hunyuan3D API server
/backend/hunyuan_server/ @ml-team

# GitHub workflows
.github/workflows/ @devops-team

fix: restore basket script path
  CommunityCreations.html
  competitions.html
  index.html
  library.html
  login.html
  my_profile.html
  payment.html
  profile.html
  request-reset.html
  reset-password.html
  share.html
  signup.html
Owners: @web-team

fix: update referral description
  earn-rewards.html
Owners: @web-team

fix: update referral description
  earn-rewards.html
Owners: @web-team

ci: switch to npm install & guard Netlify deploy
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/ops-report.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/printclub-reminders.yml
  .github/workflows/reset-credits.yml
  .github/workflows/verify-lockfile.yml
  Dockerfile
Owners: @devops-team, @print3git

ci: switch to npm install & guard Netlify deploy
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/ops-report.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/printclub-reminders.yml
  .github/workflows/reset-credits.yml
  .github/workflows/verify-lockfile.yml
  Dockerfile
Owners: @devops-team, @print3git

docs: clarify thumbnail return description
  upload/processThumbnail.js
Owners: @print3git

docs: clarify thumbnail return description
  upload/processThumbnail.js
Owners: @print3git

ci: make builds bullet-proof – secrets guard, no npm ci, global pnpm
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/ops-report.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/printclub-reminders.yml
  .github/workflows/reset-credits.yml
  .github/workflows/verify-lockfile.yml
  .husky/pre-commit
  Dockerfile
  package.json
  scripts/ensure-lockfile.js
Owners: @devops-team, @print3git

ci: harden builds – replace `npm ci`, guard Netlify, lockfile auto-check
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/node.yml
  .github/workflows/ops-report.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/printclub-reminders.yml
  .github/workflows/reset-credits.yml
  .github/workflows/verify-lockfile.yml
  .husky/pre-commit
  Dockerfile
  package.json
  scripts/ensure-lockfile.js
Owners: @devops-team, @print3git

style: scope collapsible states
  payment.html
Owners: @web-team

style: add collapsible base styles
  payment.html
Owners: @web-team

feat: add base collapsible styles
  payment.html
Owners: @web-team
