Repository print3git/MVP-website, changes with the owners that CODEOWNERS names for each.
All owners: @print3git, @web-team, @backend-team, @ml-team, @devops-team

chore(eslint): install @eslint/js and guard proxy env warnings
  .github/workflows/ci.yml
  Dockerfile
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
Owners: @devops-team, @print3git, @backend-team

chore: add Netlify CLI auth checks & CI config for deploy
  Dockerfile
  README.md
  package.json
  scripts/netlify-preflight.sh
Owners: @print3git

chore: add Netlify CLI auth checks & CI config for deploy
  Dockerfile
  README.md
  package.json
  scripts/netlify-preflight.sh
Owners: @print3git

fix(test): enable coverage in backend
  backend/jest.config.js
  backend/package.json
Owners: @backend-team

fix(test): enable coverage in backend
  backend/jest.config.js
  backend/package.json
Owners: @backend-team

fix: update print2 pro loyalty section
  printclub.html
Owners: @web-team

fix: update print2 pro loyalty section
  printclub.html
Owners: @web-team

Update no competitions message
  js/competitions.js
Owners: @print3git

Update no competitions message
  js/competitions.js
Owners: @print3git

fix: load basket script from root
  CommunityCreations.html
  competitions.html
  index.html
  library.html
  login.html
  my_profile.html
  payment.html
  profile.html
  request-reset.html
  reset-password.html
  share.html
  signup.html
Owners: @web-team

fix: load basket script from root
  CommunityCreations.html
  competitions.html
  index.html
  library.html
  login.html
  my_profile.html
  payment.html
  profile.html
  request-reset.html
  reset-password.html
  share.html
  signup.html
Owners: @web-team

fix(test): enable coverage in backend
  backend/jest.config.js
  backend/package.json
Owners: @backend-team

docs: advise unsetting proxy vars
  AGENTS.md
Owners: @print3git

docs: advise unsetting proxy vars
  AGENTS.md
Owners: @print3git

feat(payment): show etch name field
  payment.html
Owners: @web-team

feat(payment): show etch name field
  payment.html
Owners: @web-team

feat: add thumbnail processing
  backend/package-lock.json
  backend/package.json
  upload/processThumbnail.js
Owners: @backend-team, @print3git

feat: add thumbnail processing
  backend/package-lock.json
  backend/package.json
  upload/processThumbnail.js
Owners: @backend-team, @print3git

style: add collapsible base styles
  payment.html
Owners: @web-team

fix(ci): verify netlify secrets and sync lockfile
  .github/workflows/ci.yml
  README.md
  package-lock.json
  package.json
Owners: @devops-team, @print3git

chore: add cross-env to lock file
  README.md
  package-lock.json
  package.json
Owners: @print3git

ci: add watchdog to auto-detect & patch systemic failures
  .github/workflows/ci-watchdog.yml
  eslint.config.js
  package-lock.json
  package.json
  scripts/ci_watchdog.js
  scripts/ci_watchdog.ts
  scripts/tsconfig.json
  upload/processThumbnail.js
Owners: @devops-team, @print3git

fix: set org owner for watchdog
  .github/workflows/ci-watchdog.yml
Owners: @devops-team

fix: skip preview deploy if Netlify creds missing
  .github/workflows/preview-deploy.yml
Owners: @devops-team

ci: improve watchdog async fs
  .github/workflows/ci-watchdog.yml
  eslint.config.js
  package-lock.json
  package.json
  scripts/ci_watchdog.js
  scripts/ci_watchdog.ts
  scripts/tsconfig.json
  upload/processThumbnail.js
Owners: @devops-team, @print3git

ci: add watchdog to auto-detect & patch systemic failures
  .github/workflows/ci-watchdog.yml
  eslint.config.js
  package.json
  scripts/ci_watchdog.js
  scripts/ci_watchdog.ts
  scripts/tsconfig.json
Owners: @devops-team, @print3git

ci: add watchdog to auto-detect & patch systemic failures
  .github/workflows/ci-watchdog.yml
  eslint.config.js
  package.json
  scripts/ci_watchdog.js
  scripts/ci_watchdog.ts
  scripts/tsconfig.json
Owners: @devops-team, @print3git

fix: update lockfile for ci watchdog deps
  package-lock.json
Owners: @print3git

fix: update lockfile for ci watchdog deps
  package-lock.json
Owners: @print3git

ci: add watchdog to auto-detect & patch systemic failures
  .github/workflows/ci-watchdog.yml
Owners: @devops-team

ci: add watchdog to auto-detect & patch systemic failures
  .github/workflows/ci-watchdog.yml
Owners: @devops-team

ci: add watchdog to auto-detect & patch systemic failures
  scripts/ci_watchdog.js
  scripts/ci_watchdog.ts
  scripts/tsconfig.json
Owners: @print3git

ci: add watchdog to auto-detect & patch systemic failures
  scripts/ci_watchdog.js
  scripts/ci_watchdog.ts
  scripts/tsconfig.json
Owners: @print3git

fix(payment): close color picker after selection
  js/payment.js
Owners: @print3git

fix(payment): close color picker after selection
  js/payment.js
Owners: @print3git

style: shrink buy button on community cards
  js/community.js
Owners: @print3git

style: shrink buy button on community cards
  js/community.js
Owners: @print3git

feat(signup): add click expansion for contact fields
  signup.html
  upload/processThumbnail.js
Owners: @web-team, @print3git

feat(signup): add click expansion for contact fields
  signup.html
  upload/processThumbnail.js
Owners: @web-team, @print3git

fix: restore basket script path
  CommunityCreations.html
  competitions.html
  index.html
  library.html
  login.html
  my_profile.html
  payment.html
  profile.html
  request-reset.html
  reset-password.html
  share.html
  signup.html
Owners: @web-team

CODEOWNERS:

* @print3git

# Frontend HTML files
/*.html @web-team

# Backend code
/backend/ @backend-team

# Hunyuan3D API server
/backend/hunyuan_server/ @ml-team

# GitHub workflows
.github/workflows/ @devops-team
